
<div class="login">
  <% if current_user %>
    Logged in as: <%= current_user.name %>.
    <%= link_to "Sign out.", signout_path %>
  <% else %>
   <%= link_to "Sign in with Yammer!", "/auth/yammer" %>
  <% end %>
</div>


<h1>Welcome to PayScale!</h1>

  <div style="clear:both"></div>

  <div class="profilelist">
  <% @profiles.each do |profile| %>

  <div class="profilecontainer">
  
    <h2>Meet <span style="color:red"><%= profile["full_name"] %></span>, <%= profile["job_title"] %></h2>
  
    <div style="clear:both"></div>

    <div class="profile">
      <div class="profiledata">
        <img src="<%= profile["mugshot_url_template"].gsub("{width}","200").gsub("{height}","200") %>" />
      </div>
    
      <div class="profiledata profilesynopsis">
        <%= profile["summary"] || "I haven't figured out how to update my bio yet!" %>
        <br /><br />Interests: <%= profile["interests"] || "I have interests, I just haven't put them on Yammer yet!" %>
      </div>
    </div>
  </div>

  <% end %>
  </div>

  <div style="clear:both"></div>

<script type="text/javascript">
$('#profilelist .profilecontainer:gt(0)').hide(); // hide all but first element

var i=0, t, stop=false;

function animate(){
   $('.profilecontainer').eq(i%$('.profilecontainer').length).fadeTo(500,1).siblings('.profilecontainer').fadeTo(500,0);
}

function autoAnimate(){
   clearTimeout(t);    
   t = setTimeout(function(){i++;animate();autoAnimate();},5000);
}
autoAnimate();
</script>
